{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    
   </head>

 <body>
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
          <a class="navbar-brand" href="..">
            SAGE
          </a>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
  
  <!-- upper section -->
  <div class="row">
  <div class="col-sm-2">
      <!-- left -->
                <h3>
            <i class="glyphicon glyphicon-briefcase">
            </i>
            Menú
          </h3>
      <hr>

         <ul class="nav nav-stacked">
            <li>
              <a href="..">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
            </li>
          </ul>

          <br>
          {% if estacionamiento.Cierre and estacionamiento.NroPuesto and esquema.TipoEsquema and esquema.Tarifa %}
            <ul class="nav nav-stacked">
              <li>
                <a href="./reserva">
                  <i class="fa fa-pencil-square-o"></i>
                  Reservar
                </a>
              </li>
            </ul>
          {% endif %}
      <hr>
      
    </div><!-- /span-3 -->
    
    
    
    
    
  </div><!--/row-->
  <!-- /upper section -->
  
  <!-- lower section -->
  <!--/row-->

</div><!--/container-->


    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
</body>

</html>