{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <meta charset="utf-8">
    <title>
      SAGE
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/livevalidation.css'%}" rel="stylesheet">
   </head>

 <body>
        
        <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
          <a class="navbar-brand" href="..">
            SAGE
          </a>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
  
  <!-- upper section -->
  <div class="row">
  <div class="col-sm-2">
      <!-- left -->
                <h3>
            <i class="glyphicon glyphicon-briefcase">
            </i>
            Menú
          </h3>
      <hr>

         <ul class="nav nav-stacked">
            <li>
              <a href="..">
                <i class="fa fa-bus"></i>
                Estacionamientos
              </a>
            </li>
          </ul>
          
      <hr>
      
    </div><!-- /span-3 -->
    
    
    <div class="col-sm-10">
    	
    	{% if user == "owner" %}
    		<h3><i class="fa fa-user"></i> SAGE - Ingresos por Estacionamientos</h3>
    	{% else %}
    		<h3><i class="fa fa-users"></i> SAGE - Mis Reservaciones</h3>
    	{% endif %}
    	
    	<hr>
    	
    	<h4>Introduzca la siguiente información que se le solicita para continuar:</h4>
    	
    	{% if user == "owner" and form.errors %}
		    <p style="color: red;">Número de RIF incorrecto. Por favor, intente de nuevo.</p>
		{% elif user == "owner" and invalid_ID %}
			<p style="color: red;">Usted no se encuentra registrado como propietario en el sistema.<p>
		{% elif user == "client" and form.errors %}
		   	<p style="color: red;">Número de cédula incorrecto. Por favor, intente de nuevo.</p>
		{% elif user == "client" and invalid_ID %}
			<p style="color: red;">Usted no posee reservaciones registradas.<p>
		{% endif %}
		
    	<br>
    	
    	<div class="col-sm-4">
    		<form action="{{url_form}}" method="post" class="form form-vertical">
				{% csrf_token %}
				{% for field in form %}
	                <div class="control-group">
	                  <div class="controls">
	                  	{% if user == "owner" %}
		                  	<label for="id_{{field.name}}">RIF</label>
		                    <input type="text" class="form-control" name="{{field.name}}" placeholder="RIF (Ej: J-12345678-9)" id="id_{{field.name}}">
	                    {% else %}
	                  		<label for="id_{{field.name}}">Cédula</label>
		                    <input type="text" class="form-control" name="{{field.name}}" placeholder="Cédula (Ej: V-12345678)" id="id_{{field.name}}">
	                  	{% endif %}
	                  	<p>
	                  	{{ field.errors }}
	                  </div>
	                </div> 
              	{% endfor %}
              	
		        <div class="control-group">
		       	  <label>
		       	  </label>
		          <div class="controls">
		            <button type="submit" class="btn btn-primary">
		              Entrar
		            </button>
		          </div>
		        </div>
		        
			</form>
    	</div> <!-- column1 -->
    </div>
    
    
  </div><!--/row-->
  <!-- /upper section -->
  
  <!-- lower section -->
  <!--/row-->

</div><!--/container-->


    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/livevalidation_standalone.js'%}"></script>
    <script type="text/javascript">
        new LiveValidation('id_ID_Usuario').add(Validate.Format, 
                            { pattern: /^[JjVvDd]-?\d{8}-?\d$/, 
                              failureMessage: "Introduzca un RIF con un formato válido." 
                              });
    </script>
</body>

</html>